<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Jogo</title>
</head>
<body>
    <h1>Bem vindo {{ nome }}</h1>
    
    <h1>Jogo da Forca</h1>
    <p>Dica: {{ palavra }}</p>
    <p id="palavra-oculta">{{ palavra_oculta }}</p>
    <input type="text" id="tentativa" maxlength="1">
    <button onclick="enviarTentativa()">Enviar Tentativa</button>
    <p id="tentativas-restantes">Tentativas restantes: {{ tentativas_restantes }}</p>
    <input type="hidden" id="palavra-id" value="{{ palavra_id }}">
    <p id="mensagem">{{ message }}</p>

    <script>
        
    </script>
</body>
</html>